<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

    </head>
    <body>
        <footer id="footer" style="background: #FFEF9F;" th:fragment="footer">
            <div class="container text-dark">
                <div class="row">
                    <div class="col-sm redes__sociales">
                        <div class="row text-center">
                            <div class="col-sm">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div class="col-sm">
                                <i class="fab fa-twitter-square"></i>
                            </div>
                            <div class="col-sm">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="col-sm">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
